/* home page css */

.overflow{
    overflow: visible;
}

.home-opbouw{
    color: red;
    padding-top: 25px;
    padding-left: 30px;
}

<<<<<<< HEAD
.center{
    margin: auto;
    margin-top: 10%;
}

=======

/* productenoverzicht */

.rijen-webshop{
    padding-left: 10px;
    padding-top: 50px;
}
>>>>>>> c8f4a9173176fcd87bfd4b67d07764d02b3f59b9
