/* home page css */

.overflow{
    overflow: visible;
}

.home-opbouw{
    color: red;
    padding-top: 25px;
    padding-left: 30px;
}

.center{
    margin: auto;
    margin-top: 3%;
}


/* productenoverzicht */

.rijen-webshop{
    padding-left: 10px;
    padding-top: 50px;
}
